.nav-tag {
    font-size  : 1.2rem;
    font-weight: bold;
    padding    : 20px;
}

.home-title {
    font-size: 2.5rem;
    color    : white;
    margin   : 0;
}

.home-subtitle {
    font-size: 5rem;
    color    : white;
    margin   : 20px 0 0 0;
}

.main-title {
    font-size    : 2.6rem;
    margin-bottom: 1.5rem;
}

.des-title {
    text-align : left;
    font-size  : 1.3rem;
    font-weight: bold;
    color      : #548c2f;
}
.des-title span{
    font-size: 0.5rem;
    color: #B6CB9E;
}

.des-subtitle {
    /* margin     : 0 0 1rem 40px; */
    text-align : left;
    font-size  : 1.2rem;
    font-weight: bold;
    color      : #4A5859;
}
.des-subtitle span{
    font-size: 0.48rem;
    color: #B6CB9E;
}
.des-cont {
    /* margin     : 0 0 0 40px; */
    text-align : left;
    font-size  : 1rem;
    line-height: 150%;
}