@font-face{
  font-family: TaipeiSans;
  src: url("./fonts/TaipeiSansTCBeta-Regular.ttf");
}

#app {
  font-family: TaipeiSans,Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  width: 100%;
}
